.fixed-top{
  background-image: linear-gradient(to right, white , black);
}
.special{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.my-container{
  padding: 100px 20px;
}
